# Solo para desarrollo local con npm run serve. Sin definirla Vite usa http://localhost:3000.
# Para Docker Compose, .env contiene las variables del backend, la url del backend se encuentra en BACKEND_URL dentro de compose;

# BACKEND_URL=http://localhost:3000
